<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Landing Page</title>
        <meta charset='utf-8' />
        <link rel='stylesheet' href='{{ url_for('static',filename='style.css')}}/>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <div id='wrapper'>
            <h1>Welcome to the Dojo Form page... </h1>
            <p>Here you can enter information and click the submit button. </p>
            <p>It''s not going to go anywhere however. The submit button has no form action set.</p>
        </div>
    </body>
</html>